/*
jFlow Demo CSS
Description: Demo CSS for jFlow
*/

#sliderContainer { height: 318px; position: relative; margin: 0 auto; }

.slideContent {  background:url("../images/contentBg.png") repeat scroll 0 0 transparent; position: absolute; bottom:0px; left:20px;   padding: 15px;  width: 438px; }

.slide h3 {  font: 700 26px/1em 'Open Sans', sans-serif; color: #FE9A2E;  margin: 0 0 10px 0; }

.slide p { font-size: 14px; color: #FFF; margin: 0; }
.slide strong{font-weight:bold;font-size: 14px; color: #FFF; margin: 0;}
.jFlowSlideContainer { overflow: hidden; }

.jFlowSlideContainer a { color: #F90; text-decoration: none; font-style: italic; }

.jFlowSlideContainer a:hover { text-decoration: none; }

.jFlowSlideContainer a:focus { position: relative; top: 1px; }

.jFlowNext { background:url("../images/Back.png") no-repeat ; height:130px; position:absolute; top:140px; left: 10px; width:50px; cursor:pointer; }

.jFlowPrev { background:url("../images/Next.png") no-repeat; height:130px; position:absolute; top:140px; right: -2px; width:50px; cursor:pointer; }




/* controller pagination */

#myController {margin-top: 12px;margin-left: 451px; }

.jFlowControl { background:url("../images/bullet.png") no-repeat scroll 0px 0px transparent;  float: left; width: 15px; height: 15px;}

.jFlowControl:hover { background-position: -32px 0px; cursor: pointer; }

.jFlowSelected, .jFlowSelected:hover {background-position: -15px 0px;   }